*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins", sans-serif;
cursor:none;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

/* CURSOR */
.cursor{
width:20px;
height:20px;
border:2px solid white;
border-radius:50%;
position:fixed;
pointer-events:none;
transform:translate(-50%,-50%);
transition:transform 0.2s ease;
z-index:9999;
}
.cursor.active{
transform:translate(-50%,-50%) scale(2);
}

/* NAVBAR */
.navbar{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:25px 60px;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(20px);
}

.nav-buttons .nav-btn {
  display: inline-block;
  padding: 8px 20px;       /* padding */
  background: rgb(255, 255, 255);        /* button background */
  color: black;             /* text color */
  border-radius: 8px;       /* rounded corners */
  text-decoration: none;
  font-weight: 400;
  margin-left: 12px;
  transition: all 0.3s ease;
}

.nav-buttons .nav-btn:hover {
  background: #202020;      /* hover color */
  color: white;
}

/* HERO */
.hero, .about-section, .contact-section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
text-align:center;
}

.hero-text{
font-size:90px;
letter-spacing:-3px;
margin-bottom:20px;
}

/* WORKS */
.works{
padding:120px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:60px;
}

.project{
overflow:hidden;
border-radius:15px;
transform-style:preserve-3d;
}

.img-container{
position:relative;
}

.project img{
width:100%;
transition:0.6s;
}

.project:hover img{
transform:scale(1.15);
}

.price{
position:absolute;
bottom:10px;
right:10px;
background:rgba(0,0,0,0.7);
color:white;
padding:5px 10px;
border-radius:5px;
font-weight:bold;
font-size:14px;
}

/* MAGNETIC BUTTON */
.magnetic{
padding:10px 20px;
background:white;
color:black;
border:none;
cursor:none;
}